.tips {
    margin-top: 200px;
}

.tips h2 {
    padding: 120px 0 25px;
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    font-weight: normal;
    color: rgb(248, 246, 242);
    font-size: 75px;
    opacity: .7;
}

.contenedor__tips {
    display: flex;
    justify-content: space-evenly;
    border: var(--main-red) 1px solid;
    padding: 15px;
    margin: 25px;
}

table {
    font-family: 'Cabin Sketch', cursive;
    font-weight: normal;
    color: rgb(248, 246, 242); 
    font-size: 22px;
    width: 35%;
}

.table__cucharas th {
    padding: 35px;
}

/* --------------------------------  MEDIA QUERIES  ------------------------------------------ */
@media (max-width: 730px) {

    .tips {
        margin-top: 0;
    }  

    .tips h2 {
        padding: 220px 0 30px;
        font-size: 55px;
    }
}

@media (max-width: 560px) {
               
    .tips {
        margin-top: -100px;
    }

    .tips h2 {
        font-size: 45px;
    }

    .contenedor__tips {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    table {
        font-size: 18px;
        margin-left: 8%;
        width: 90%;
    }
}